html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
code,
em,
img,
strong,
b,
u,
i,
center,
ol,
ul,
li,
footer,
header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
	color-adjust: exact;
	-webkit-print-color-adjust: exact;
}

/* simulate print mode */
@media screen {
	html {
		background-color: grey;
	}

	body {
		max-width: 8.5in;
		background-color: white;
		padding: 0.75in;
	}
}

ol,
ul {
	list-style: none;
	margin-bottom: 1em;
}

body {
	font: normal normal 600;
	font-size: 12pt;
	line-height: 2em;
	font-family: 'Open Sans', sans-serif;
}

p {
	position: relative;
	margin-bottom: 0.4em;
}

ul {
	position: relative;
	left: 5%;
	width: 95%;
	/* margin-bottom: 1.5em; */
	margin-top: -0.5em;
}

/*uncomment to get dashes in the list*/
/*li:before {
	content: "-";
	position: relative;
	left: -0.25em;
}*/

li {
	/*second line indent*/
	padding-left: 1.25em;
	text-indent: -1.25em;
	/*color: #777;*/
}

li ul {
	position: relative;
	left: 0;
	width: 100%;
	margin-top: 0.25em;
}

h1,
h2,
h3,
h4 {
	font-weight: 400;
	font-family: 'Comfortaa', sans-serif;
	/* width: 65%; */
	color: #26c6da;
}

h1 {
	font-size: 4em;
	line-height: 1em;
}

/*subtitle*/
h1+p {
	font-style: italic;
	font-size: 110%;
}

/* section titles */
h2 {
	font-size: 2em;
	margin-top: 1em;
	text-align: center;
}

h3 {
	font-size: 1em;
	line-height: 2em;
	position: relative;
	top: 1.6em;
	text-align: right;
	width: 18%;
}

img {
	vertical-align: middle;
}

a {
	color: #C2410C;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #39f
}

em {
	/* font-weight: bold; */
	font-style: italic;
	/* color: #2d4e5e */
}

.myheader {
	text-align: center;
}

strong {
	font-weight: 600;
	font-size: 1.2em;
}
